
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #262626; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    padding: 0;
    margin: 0;
}
.BodyComponent {
    display: flex;
    background: #262626;
    flex-direction: row;
}

.MenuComponent {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 100vh;

    box-shadow: -1px -1px 0 0 hsla(0,0%,100%,.1), 1px 1px 0 0 rgba(0,0,0,.3);
    background: linear-gradient(135deg,#2f2f2f,#262626);
    transition: width 0.2s;
    transition-timing-function: ease-in-out;
    overflow-y: auto;
    overflow-x: hidden;
}
.MenuComponent > a{
    display: flex;
    box-shadow: -1px -1px 0 0 hsla(0,0%,100%,.1), 1px 1px 0 0 rgba(0,0,0,.3);
    background: linear-gradient(135deg,#2f2f2f,#262626);
    margin-bottom: 5px;
    width: 100%;
    min-height: 35px;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-left: solid 3px #2f2f2f;
    color: #eee;
    transition: all 0.1s;
    transition-timing-function: ease-in-out;
}
.MenuComponent > a:hover {
    border-left: solid 3px #888;
}
.MenuHeader {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    min-height: 85px;
    box-shadow: -1px -1px 0 0 hsla(0,0%,100%,.1), 1px 1px 0 0 rgba(0,0,0,.3);
    background: linear-gradient(135deg,#2f2f2f,#262626);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.PageContentComponent {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    flex-direction: column;
    color: #eee;
    background: #262626;

}
.ContainerComponent{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    box-shadow: -1px -1px 0 0 hsla(0,0%,100%,.1), 1px 1px 0 0 rgba(0,0,0,.3);
    background: linear-gradient(135deg,#2f2f2f,#262626);
}




.ContainerComponent {

}

.HomeComponent {

}